.inputForm{
    margin: 15px;
    padding: 10px 5px 10px 30px;
    border-radius: 3px;
    border-color: blue;
}

form{
    margin-top: 5%;
    background-color: white;
    border: 5px solid blue;
    margin-left: 45%;
    margin-right: 40%;
    margin-bottom: 1em;
}

label{
    margin-left: 10px;
}

.inscrptionButton{
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 1em;
    background-color: blue;
    border: 5px solid white;
    padding: 30px 40px;
    color: white;
    font-size: 30px;
    border-radius: 20px;
}

label{
    font-weight: bold;
    font-size: 30px;
}

/*sur la page liste-patient.php*/
.pageNamePatient{
    margin-top: 20px;
    text-align: center;
}


table{
    text-align: center;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width: 85%;
    margin-top: 30px;
   margin-left: 5%;
    
}
 
th{
    padding: 10px;
    border: 5px;
    border-width:1px;
    border-style:solid; 
    border-color:black;
    width:20%;
    background-color: blue;
    color: white;

}

td{
    text-align: center;
    border: 5px;
    border-width:1px;
    border-style:solid; 
    border-color:black;
    width:20%;
    
}

#buttonAjoutPatient{
    margin-top: 20px;
    margin-left: 45%;
    background-color: blue;
    color: white;
    padding: 15px 20px;
    font-size: 120%;
}

#buttonAjoutPatient:hover{
    margin-top: 20px;
    margin-left: 45%;
    background-color: cyan;
    color: black;
    padding: 20px 25px;
    font-size: 120%;
}

#buttonReturnList{
    margin-top: 20px;
    margin-left: 45%;
    background-color: blue;
    color: white;
    padding: 15px 20px;
    font-size: 120%;
}

#buttonReturnList:hover{
    margin-top: 20px;
    margin-left: 45%;
    background-color: cyan;
    color: black;
    padding: 20px 25px;
    font-size: 120%;
}

#buttonModificationPatient{
    margin-top: 20px;
    margin-left: 45%;
    background-color: blue;
    color: white;
    padding: 15px 20px;
    font-size: 120%;
}

#buttonModificationPatient:hover{
    margin-top: 20px;
    margin-left: 45%;
    background-color: cyan;
    color: black;
    padding: 20px 25px;
    font-size: 120%;
}

#dataFormModifydPatients{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 24%;
    background-color: blue;
    color: white;
    padding: 15px 20px;
    font-size: 120%;
}

#dataFormModifydPatients:hover{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 24%;
    background-color: cyan;
    color: black;
    padding: 20px 25px;
    font-size: 120%;
}

h2{
    margin-top: 10px;
    margin-left: 47%;
}



